.green-icon {
    color: #198754;
}

.red-icon {
    color: #dc3545;
}

.spinner-border {
    height: 1.5rem;
    width: 1.5rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

h5 {
    font-size: 1.5rem;
}
